// Persona page

.grid-personas {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(60, 1fr);
    grid-column-gap: 10px;
    padding-top: 5%;

    @media only screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5%;
        margin-top: 10%;

        .Grid--gutters {
            margin-bottom: $gutter;
        }

    }


}

.up-heading {
    grid-column: 2/4;
    grid-row: 1/5;

    @media only screen and (max-width: 900px) {
        grid-column: 2/11;
        grid-row: 1/2;
    }
}

.up-introPara {
    grid-column: 7/11;
    grid-row: 3/6;

    @media only screen and (max-width: 1000px) {
        grid-column: 2/11;
        grid-row: 3/5;
        margin-top: 5%;
    }

}

.up-inPgNav {
    grid-column: 1/11;
    grid-row: 5/6;
}

.up-robHeading {
    grid-column: 6/9;
    grid-row: 11/12;

    @media only screen and (min-width: 900px) {
        padding-left: 5%;
    }


}

.up-robImg {
    grid-column: 3/6;
    grid-row: 8/12;
    width: 100%;

    @media only screen and (max-width: 900px) {
        max-width: 50%;
        place-self: center;
    }
}

.up-robQuote {
    grid-column: 7/11;
    grid-row: 9/12;
}

.up-robDesc {
    grid-column: 6/10;
    grid-row: 12/14;

    @media only screen and (min-width: 900px) {
        padding-left: 5%;
    }
}

.up-robDemHead {
    grid-column: 2/4;
    grid-row: 13/14;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-robGoalHead {
    grid-column: 5/8;
    grid-row: 14/15;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-robPainHead {
    grid-column: 8/11;
    grid-row: 15/16;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-robDemInfo {
    grid-column: 2/5;
    grid-row: 14/16;
}

.up-robGoalInfo {
    grid-column: 5/8;
    grid-row: 15/17;
}

.up-robPainInfo {
    grid-column: 8/11;
    grid-row: 16/18;
}

.up-marImg {
    grid-column: 8/11;
    grid-row: 18/21;
    width: 100%;

    @media only screen and (max-width: 900px) {
        max-width: 50%;
        place-self: center;
    }
}

.up-marHeading {
    grid-column: 6/8;
    grid-row: 21/22;

}

.up-marDesc {
    grid-column: 6/10;
    grid-row: 22/24;
}

.up-marQuote {
    grid-column: 3/7;
    grid-row: 19/21;

    @media only screen and (min-width: 900px) {

        place-self: center start;
    }
}


.up-marDemHead {
    grid-column: 2/4;
    grid-row: 23/24;


    @media only screen and (min-width: 900px) {

        place-self: end start;
    }


}

.up-marGoalHead {
    grid-column: 5/8;
    grid-row: 24/25;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-marPainHead {
    grid-column: 11/8;
    grid-row: 25/26;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-marDemInfo {
    grid-column: 2/4;
    grid-row: 24/26;
}

.up-marGoalInfo {
    grid-column: 5/7;
    grid-row: 25/28;
}

.up-marPainInfo {
    grid-column: 8/10;
    grid-row: 26/28;

}

.up-decLineOne {
    grid-column: 3/10;
    grid-row: 17/18;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

.up-decLineTwo {
    grid-column: 3/10;
    grid-row: 28/29;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

.up-henImg {
    grid-column: 3/6;
    grid-row: 29/32;
    width: 100%;

    @media only screen and (max-width: 900px) {
        max-width: 50%;
        place-self: center;
    }
}

.up-henHeading {
    grid-column: 6/9;
    grid-row: 32/33;

    @media only screen and (min-width: 900px) {
        padding-left: 5%;
    }

}

.up-henQuote {
    grid-column: 7/11;
    grid-row: 30/32;
}

.up-henDesc {
    grid-column: 6/10;
    grid-row: 33/35;

    @media only screen and (min-width: 900px) {
        padding-left: 5%;
    }
}

.up-henDemHead {
    grid-column: 2/4;
    grid-row: 34/35;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-henDemInfo {
    grid-column: 2/5;
    grid-row: 35/37;
}

.up-henGoalHead {
    grid-column: 5/8;
    grid-row: 35/36;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-henGoalInfo {
    grid-column: 5/7;
    grid-row: 36/38;
}

.up-henPainHead {
    grid-column: 8/11;
    grid-row: 36/37;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-henPainInfo {
    grid-column: 8/11;
    grid-row: 37/39;
}

.up-decLineThree {
    grid-column: 3/10;
    grid-row: 39/40;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

.up-cmImg {
    grid-column: 8/11;
    grid-row: 40/43;
    width: 100%;

    @media only screen and (max-width: 900px) {
        max-width: 50%;
        place-self: center;
    }
}

.up-cmHeading {
    grid-column: 6/11;
    grid-row: 43/44;

}

.up-cmDesc {
    grid-column: 6/10;
    grid-row: 44/46;
}

.up-marQuote {
    grid-column: 3/7;
    grid-row: 19/21;

    @media only screen and (min-width: 900px) {

        place-self: center start;
    }
}


.up-marDemHead {
    grid-column: 2/4;
    grid-row: 23/24;


    @media only screen and (min-width: 900px) {

        place-self: end start;
    }


}

.up-marGoalHead {
    grid-column: 5/8;
    grid-row: 24/25;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-marPainHead {
    grid-column: 11/8;
    grid-row: 25/26;

    @media only screen and (min-width: 900px) {

        place-self: end start;
    }

}

.up-marDemInfo {
    grid-column: 2/4;
    grid-row: 24/26;
}

.up-marGoalInfo {
    grid-column: 5/7;
    grid-row: 25/28;
}

.up-marPainInfo {
    grid-column: 8/10;
    grid-row: 26/28;

}
