.hp-height {
    height: 100vh;
}

.grid-homepage {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    padding-top: 5%;
    background-color: $brandBlack;

    @media only screen and (max-width: 1150px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        overflow: hidden;

        .Grid--gutters {
            margin-bottom: $gutter;
        }

        .paraPadding {
            // padding-left: 10%;
            padding-right: 50%;
        }

    }

    // @media only screen and (max-width: 900px) {

    //     margin-top: 10%;

    //     .paraPadding {
    //         padding: 0;
    //     }

    // }
}


.hp-heading {
    grid-column: 2/7;
    grid-row: 2/5;



}

.hp-introPara {
    grid-column: 7/11;
    grid-row: 4/7;
}

.hp-link {
    grid-column: 7/9;
    grid-row: 7/8;
}
