//grid journey
.grid-journey {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(60, 1fr);
    grid-column-gap: 10px;
    padding-top: 5%;
}

.stepsGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
    margin-top: 10%;

    .Grid--gutters {
        margin-bottom: $gutter;
    }
}

.outter {
    position: relative;
}

.stepLeft {
    position: absolute;
    top: 0;
    right: calc(100% + 2em);
    /*   right: calc(100% + 2em); */
    width: 200px;
    padding: 2em;
    border: 1px solid $brandgrey;
    opacity: 0.3;
}

.stepRight {
    position: absolute;
    top: 0;
    left: calc(100% + 2em);
    /*   right: calc(100% + 2em); */
    width: 200px;
    padding: 2em;
    border: 1px solid $brandgrey;
    opacity: 0.3;
}

.outter:hover {

    .stepRight {
        display: block;
        opacity: 1;
    }

    .stepLeft {
        display: block;
        opacity: 1;
    }


}

.uj-heading {
    grid-column: 2/4;
    grid-row: 1/5;
}

.uj-introPara {
    grid-column: 7/11;
    grid-row: 3/6;


}

.uj-inPgNav {
    grid-column: 1/11;
    grid-row: 6/7;
}

.uj-robImg {
    grid-column: 3/6;
    grid-row: 8/12;
    width: 100%;
}

.uj-robHeading {
    grid-column: 6/9;
    grid-row: 8/9;
}

.uj-robGoalHead {
    grid-column: 6/9;
    grid-row: 9/10;
}

.uj-robGoalP {
    grid-column: 6/9;
    grid-row: 9/10;
    padding-top: 30px;
}

.uj-robJourney {
    grid-column: 5/8;
    grid-row: 12/25;
}

.uj-marImg {
    grid-column: 3/6;
    grid-row: 26/31;
    width: 100%;
}


.uj-marHeading {
    grid-column: 6/9;
    grid-row: 26/27;
    place-self: end start;
}

.uj-marGoalHead {
    grid-column: 6/9;
    grid-row: 27/28;
}

.uj-marGoalP {
    grid-column: 6/9;
    grid-row: 27/28;
    padding-top: 30px;
}

.uj-marJourney {
    grid-column: 5/8;
    grid-row: 30/40;
}

.uj-henImg {
    grid-column: 3/6;
    grid-row: 42/45;
    width: 100%;
}


.uj-henHeading {
    grid-column: 6/9;
    grid-row: 42/43;
    place-self: end start;
}

.uj-henGoalHead {
    grid-column: 6/9;
    grid-row: 43/44;
}

.uj-henGoalP {
    grid-column: 6/9;
    grid-row: 43/44;
    padding-top: 30px;
}

.uj-henJourney {
    grid-column: 5/8;
    grid-row: 46/60;
}

.uj-decLineOne {
    grid-column: 3/10;
    grid-row: 24/25;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

.uj-decLineTwo {
    grid-column: 3/10;
    grid-row: 40/41;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}
