// Persona page

.grid-personasOne {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    padding-top: 5%;

    // @media only screen and (max-width: 900px) {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     margin: 5%;
    //     margin-top: 10%;

    //     .Grid--gutters {
    //         margin-bottom: $gutter;
    //     }

    // }
}

.grid-personasTwo {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: reapeat(4, 1fr);
}

.up-heading {
    grid-column: 3/5;
    grid-row: 2/4;

    @media only screen and (max-width: 900px) {
        grid-column: 2/11;
        grid-row: 1/2;
    }
}

.up-introPara {
    grid-column: 7/11;
    grid-row: 3/6;

    @media only screen and (max-width: 1000px) {
        grid-column: 2/11;
        grid-row: 3/5;
        margin-top: 5%;
    }

}

.up-inPgNav {
    grid-column: 2/10;
    grid-row: 6/7;
}

.rob_quote {
    grid-column: 4/9;
    text-align: center;
    margin: 15%;
}
