.grid-prototypeTop {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    padding-top: 5%;
    background-color: $brandBlack;
}

.grid-fakeFriend {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 10px;
}

.p-heading {
    grid-column: 2/7;
    grid-row: 2/5;
}

.p-introPara {
    grid-column: 7/11;
    grid-row: 4/7;
}

.friend-title {
    grid-column: 7/12;
    grid-row: 3/4;
}

.friend-descOne {
    grid-column: 7/11;
    grid-row: 3/6;
    padding-top: 110px;
}

.friend-photoOne {
    grid-column: 2/7;
    grid-row: 2/6;
    width: 100%;
    height: auto;
}

.friend-photoTwo {
    grid-column: 1/12;
    grid-row: 6/13;
    width: 100%;
    height: auto;
}

.friend-photoThree {
    grid-column: 6/11;
    grid-row: 14/17;
    width: 100%;
    height: auto;
}

.friend-descTwo {
    grid-column: 2/6;
    grid-row: 14/16;
}
