.personaNav {
    ul {
        overflow: auto;
        list-style-type: none;
    }

    li {
        height: 2rem;
        float: left;
        margin-right: 0px;
        padding: 3%;
        border-right: 1px solid $brandgrey;
    }

    li:last-child {
        border-right: none;
    }

    li a {
        text-decoration: none;
        color: $brandgrey;
        font-size: 2em;
        text-transform: uppercase;
        font-family: $fontTwo;
        scroll-behavior: smooth;
    }

    li a:hover {
        color: $brandRed;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $brandRed;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-family: $fontTwo;
}
