.personaNav {
    ul {
        overflow: auto;
        list-style-type: none;
    }

    li {
        height: 2rem;
        float: left;
        margin-right: 0px;
        padding: 3%;
        border-right: 1px solid $brandgrey;
    }

    li:last-child {
        border-right: none;
    }

    li a {
        text-decoration: none;
        color: $brandgrey;
        font-size: 2em;
        text-transform: uppercase;
        font-family: $fontTwo;
        scroll-behavior: smooth;
    }

    li a:hover {
        color: $brandRed;
    }
}
