.headline_styles {
    font-size: 8em;
    line-height: 1em;
    color: white;
    font-weight: 900;

    @media only screen and (max-width: 900px) {
        font-size: 5em;
        text-align: center;
    }

    @media only screen and (max-width: 650px) {
        font-size: 4em;

    }
}

.introPara_styles {

    font-size: 1em;
    line-height: 1.7em;
    font-family: $fontTwo;

    @media only screen and (max-width: 900px) {
        text-align: center
    }
}

.up-Heading_styles {
    font-size: 3.5em;
    color: $brandRed;
}

.up-Quote_styles {
    font-size: 2em;
    color: white;
    font-weight: 800;
    font-family: $fontTwo;
}

.up-subHead_styles {
    font-size: 2em;
}

.up-ul_info {
    // list-style: circle;

    @media only screen and (min-width: 900px) {
        li {
            margin-bottom: 10%;
        }
    }


}

.up-p_info {
    line-height: 1.5em;
}

.hp-link_styles {
    color: white;
    text-decoration: none;
    font-family: $fontTwo;
    font-weight: 800;
    font-size: 1.5em;
}
