.headline_styles {
    font-size: 7em;
    color: $brandRed;
    line-height: 1.2em;

    @media only screen and (max-width: 900px) {
        font-size: 5em;
        text-align: center;
    }

    @media only screen and (max-width: 650px) {
        font-size: 4em;

    }


}

.introPara_styles {

    font-size: 1.2em;

    @media only screen and (max-width: 900px) {
        text-align: center
    }
}

.up-Heading_styles {
    font-size: 3.5em;
    color: $brandRed;
}

.up-Quote_styles {
    font-size: 2em;
}

.up-subHead_styles {
    font-size: 2em;

}

.u-p_info {
    list-style: circle;
    line-height: 2em;

}
