$fontOne : 'Playfair Display',
serif;


$fontTwo: 'Open Sans',
sans-serif;

.u-fontWeightReg {
    font-weight: 400;
}

.u-fontWeightSemiBold {
    font-weight: 600;
}

.u-fontWeightBold {
    font-weight: 700;
}

.u-fontWeightExtraBold {
    font-weight: 800;
}

.u-fontWeightBlack {
    font-weight: 900;
}

.u-pgTitle {
    font-family: $fontOne;
}

.u-paragraph {
    font-family: $fontTwo;
}
