$fontOne : 'Playfair Display',
serif;


$fontTwo: 'Open Sans',
sans-serif;

$brandRed:#b71c1c;

$brandgrey: #9e9e9e;

$gutter: 1.5em;

.u-fontWeightReg {
    font-weight: 400;
}

.u-fontWeightSemiBold {
    font-weight: 600;
}

.u-fontWeightBold {
    font-weight: 700;
}

.u-fontWeightExtraBold {
    font-weight: 800;
}

.u-fontWeightBlack {
    font-weight: 900;
}

.u-primaryFont {
    font-family: $fontOne;
}

.u-secondaryFont {
    font-family: $fontTwo;
}

.u-ujBorder {
    padding: 5%;
    border: 2px solid $brandRed;
}

.u-colorPrimary {
    color: $brandRed;
}
