$fontOne : 'Playfair Display',
serif;


$fontTwo: 'Open Sans',
sans-serif;

$brandRed:#7C0221;

$brandgrey: #9e9e9e;

$brandBlack:#1D1E20;

$gutter: 5%;


.u-fontWeightReg {
    font-weight: 400;
}

.u-fontWeightSemiBold {
    font-weight: 600;
}

.u-fontWeightBold {
    font-weight: 700;
}

.u-fontWeightExtraBold {
    font-weight: 800;
}

.u-fontWeightBlack {
    font-weight: 900;
}

.u-primaryFont {
    font-family: $fontOne;
}

.u-secondaryFont {
    font-family: $fontTwo;
}

.u-ujBorder {
    padding: 5%;
    border: 2px solid $brandRed;

}

.u-colorPrimary {
    color: $brandRed;
}

.u-colorWhite {
    color: white;
}

.u-backgroundRed {
    background-color: $brandRed;
}

.u-backgroundBlack {
    background-color: $brandBlack;
}

// .u-parallax {

//     /* The image used */
//     background-image: url("/img/robert.png");

//     /* Set a specific height */
//     min-height: 500px;

//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: auto;

// }
