/* YUI
         3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html {
  color: #000;
  background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%;
}

legend {
  color: #000;
}

#yui3-css-stamp.cssreset {
  display: none;
}

.u-fontWeightReg {
  font-weight: 400;
}

.u-fontWeightSemiBold {
  font-weight: 600;
}

.u-fontWeightBold {
  font-weight: 700;
}

.u-fontWeightExtraBold {
  font-weight: 800;
}

.u-fontWeightBlack {
  font-weight: 900;
}

.u-pgTitle {
  font-family: "Playfair Display", serif;
}

.u-paragraph {
  font-family: "Open Sans", sans-serif;
}

.grid-homepage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: (1fr)[15];
      grid-template-rows: repeat(15, 1fr);
  grid-column-gap: 10px;
  margin-top: 5%;
}

.hp-heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

@media only screen and (max-width: 900px) {
  .hp-heading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.hp-introPara {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

@media only screen and (max-width: 900px) {
  .hp-introPara {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 5%;
  }
}

.hp-userPersonaImg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .hp-userPersonaImg {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3/6;
  }
}

.hp-userJourneyImg {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6/9;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .hp-userJourneyImg {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
  }
}

.hp-prototypes {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 8;
  -ms-grid-row-span: 3;
  grid-row: 8/11;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .hp-prototypes {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    grid-row: 9/12;
  }
}

.hp-bibliography {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  grid-row: 10/13;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .hp-bibliography {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
    -ms-grid-row: 12;
    -ms-grid-row-span: 3;
    grid-row: 12/15;
  }
}

.hp-headline_styles {
  font-size: 9em;
  color: #b71c1c;
}

@media only screen and (max-width: 900px) {
  .hp-headline_styles {
    font-size: 6em;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .hp-introPara_styles {
    text-align: center;
  }
}

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: white;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.fadeIn-bottom {
  top: 80%;
}
/*# sourceMappingURL=styles.css.map */